body{
    background-color: aqua;
    display: flex; 
    justify-content: center;
}
.container{
    position: relative;
    top: 140px;
    border: 4px;
    border-style: solid;
    border-radius: 10px;
    border-color: blue;
    box-shadow: 10px 10px 15px rgb(20, 152, 148);
    padding: 20px;
    height: 400px;
    width: 400px;
    display: flex; 
    align-items: center;
    flex-direction: column;
}
.texty{
    color: rgb(108, 10, 200);
    text-shadow: 8px 8px 10px rebeccapurple;
}
#name{
    border-radius: 10px;
    width: 250px;
    height: 25px;
}